@import 'variables.scss';



*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: $mallow-white;
    padding: 20px;
}

h1, h2, h3, span {
    color: $mallow-black;
}

.white-text {
    color: $mallow-white;
}

h1, h2, h3, span, label {
    font-family: $poppins-title;
}

h2 {
    font-size: 25px;
    font-weight: bold;
}

h3 {
    font-size: 22px;
    font-weight: bold;
}

h4 {
    font-size: 20px;
    font-weight: bold;
}

p, label, span, input {
    font-size: 16px;
    font-family: $inter-body;
}


p {
    color: $mallow-black;
}

p, img, input {
    font-family: $inter-body;
}

.alert {
    margin: 0px;
}

.alert-danger {
    background-color: $red-soft-50;
    border-color: $red-soft;
}

.alert-success {
    position: absolute;
    top: 100px;
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1000;
}

.errors-container {
    display: flex;
    flex-direction: column !important;
    gap: 10px;
    align-items: start !important;
}

.mobile-only {
    display: none !important;
}

.mobile-small-only {
    display: none !important;
}

.popup {
    border-radius:20px;
    background-color: $mallow-white;
    padding: 40px;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        span {
            white-space: nowrap;
        font-size: 22px;
        font-weight: bold;
        }

        .close-popup-btn {
            color: $mallow-medium-clean;
            height: 22px;
            width: 22px;
            cursor: pointer;

            * {
                stroke: $mallow-medium-clean;
                stroke-width: 1px;
            }
        }


    }
    
}

.blur-effect {
    position: absolute;
    left: 0px;
    top: 0px;
    
    display: flex;
    backdrop-filter: blur(5px);
    z-index: 950;
    width: 100%;
    height: 100%;
}

.popup.center {
    z-index: 1000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 100%;
        align-items: center;
        padding: 10px;

        svg {
            width: 20px;
            height: 20px;
            
        }

        .left-btns, .right-btns {
            width: 50%;
        }

        .left-btns {
            display: flex;
            flex-direction: row;
            gap: 30px;
            align-items: center;
            
            

            h1 {
                font-size: 20px;
                color: $mallow-medium-clean;
                margin: 0px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

            }

            h1::first-letter {
                text-transform: uppercase;
            }
        }

        .project-btn {
            display: flex;
            flex-direction: row;
            gap: 5px;
            align-items: center;
            background-color: $mallow-medium;
            height: fit-content;
            padding: 5px 10px;
            border-radius: 100px;

            span {
                color : $mallow-white;
                font-family: $poppins-title;
                font-size: 16px;
                font-weight: bold;
            }

            svg {

                * {
                    stroke: $mallow-white;
                    stroke-width: 1.5px;
                }
            }
            
        }

        img {
            width: 70px;
            height: 70px;
        }

        .right-btns {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            justify-content: end;

            .initials {
                padding: 10px;
                border-radius: 100px;
                background:linear-gradient($mallow-black, $mallow-medium);
                text-decoration: none;

                color: $mallow-white;
                font-weight: bold;
                font-size: 18px;

                height: fit-content;
                display: flex;
                align-items: center;
                justify-content: center;
                aspect-ratio: 1/1;

                text-transform: uppercase;

            }

            svg {
                color: $red-soft;
            }
        }
        
    }

    .mallow-shadow {
        width: 100%;
        height: 5px;
        background: radial-gradient(ellipse 40% 40% at 50% 50%, $mallow-medium, $transparent); 

    }

}

form {

    ul {
        margin:0px;
        padding: 0px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;

        li {
            flex-grow: 1;
            padding: 10px;
            background-color: $red-soft-50;
            border-color: $red-soft;
            border-radius: 5px;
        }

    }

    .inactive {
        opacity: 75%;
        pointer-events: none;
        cursor: default;
    }
}

input {
    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    color: $mallow-black;
}

.btn.mallow-medium {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 0px;


    background-color: $mallow-medium;

    font-weight: 800;
    font-size: 18px;

    // margin-top: 10px;

    color: $mallow-white;

}

.btn.underline {
    text-decoration: underline;
    cursor: pointer;
}

.btn.inactive {
    pointer-events: none;
    opacity: 75%;
}

.base-form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .row-inputs {
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;

        > div {
            flex: 1 1 200px; /* 1=peut grandir, 1=peut rétrécir, base=300px */
        }
    }

    > div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;

        label {
            font-weight: 700;
        }

        
    }

    
}

.add-project-popup, .add-task-popup {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0px 0px 10px $mallow-medium-50;

    .label-quit {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        span {
            white-space: nowrap;
            font-size: 22px;
            font-weight: bold;
        }

        svg {
            width: 30px;
            height: 30px;
            cursor: pointer;

            color: $mallow-medium-black;

            * {
                stroke: $mallow-medium-black;
                stroke-width: 1px;
            }
        }

    }
}

.blur-effect {
    position: absolute;
    left: 0px;
    top: 0px;
    
    display: none;
    backdrop-filter: blur(5px);
    z-index: 950;
    width: 100%;
    height: 100%;
}

.radio-icon {
    width: 20px;
    height: 20px;
    border: solid 2px $mallow-medium;
    border-radius: 100px;
    padding: 3px;
    cursor: pointer;

    .selected {
        background-color: $mallow-medium;
        border-radius: 100px;
        width: 100%;
        height: 100%;
    }
}

@media (max-width : 768px) {

    // nav .content {

    // }
}

@media (max-width: 512px) {
    nav {
        .content {
            .left-btns {
                h1 {
                    display: none;
                }
            }

            .logo {
                height: 50px;
                width: 50px;
            }

            .right-btns {
                .logout-btn {
                    display: none;
                }
            }
        }
        
    }
    
    .popup {
        padding: 20px;
    }
    .popup.center {
        display: flex;
        border-radius: 0px;
        top: auto;
        bottom: 0px;
        transform: none;
        left: 0px;
        height: 60vh;
        justify-content: start;
        padding-top: 30px;
        width: 100%;

    }

    
}