@import 'variables.scss';

body {
    align-items: start;
    background: radial-gradient(circle 400px at 0% 50%, $mallow-medium-white, $mallow-white) !important; 
    height: 100vh;
}

.menu-and-details {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: start;
    justify-content: start;
    margin-top: 30px;

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-left: 30px;
        padding-right: 30px;

        .initials-name {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin: 0px 50px;

            .initials {
                font-size: 28px;
                font-weight: bold;
                font-family: $poppins-title;
                color: $mallow-white;
                
                width: fit-content;
                display: flex;
                align-items: center;
                justify-content: center;
                aspect-ratio: 1/1;

                padding: 10px;
                background:linear-gradient($mallow-black, $mallow-medium);
                border-radius: 100px;

                text-transform: uppercase;

                
            }

            h1 {
                font-size: 20px;
                font-weight: bold;
                color: $mallow-medium;
                white-space: nowrap;
            }
        }

        .btns {
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style-type: none;
            gap: 20px;
            padding: 0px;
            margin-bottom: 0px;

            li {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5px;
                opacity: 75%;

                span {
                    font-family: $poppins-title;
                    color: $mallow-medium-clean;
                    font-size: 18px;
                    white-space: nowrap;
                }
    
                svg {
                    width: 25px;
                    color: $mallow-medium-clean;
                }
            }
            
            
            
            cursor: pointer;

            .selected {
                font-weight: bold;
                opacity: 100%;
                
            }


        }
    }
    
    .section-details {
        width: 100%;
        // max-width: 500px;

        .section {
            display: flex;
            flex-direction: column;
            gap: 15px;
    
            h2 {
                font-weight: bold;
                font-size: 25px;
                margin: 0px;
                // color: $mallow-medium-black;
            }
    
            .label-btn {
                display: flex;
                flex-direction: row;
                gap: 20px;
                align-items: center;
    
                button {
                    border: none;
                    background-color: $mallow-medium;
                    border-radius: 100px;
                    padding: 5px 10px;
                    gap: 5px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
    
                    color: $mallow-white;
                    font-weight: bold;
    
                    svg {
                        width: 15px;
                        height: 15px;
    
                        * {
                            stroke: $mallow-white;
                            stroke-width: 2px;
                        }
    
                    }
    
                }
            }
    
        }

        .my-projects-section {

            .projects {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: fit-content;
                min-width: 300px;
                .project {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    gap: 10px;


                    a {
                        padding: 10px;
                        text-decoration: none;
                        border-radius: 10px;
                        width: 100%;

                        font-family: $inter-body;
                        color: $mallow-black;
                        background-color: $mallow-medium-25;
                        // font-weight: bold;

                        cursor: pointer;
                    }

                    svg {
                        height: 25px;
                        width: 25px;
                        color: $red-soft-50;
                        cursor: pointer;
                    }
                    
                }

                a::first-letter {
                    text-transform: uppercase;
                }


            }
        }

        .my-data-section, .parameters-section, .my-data-form, .edit-mail-form, .edit-password-form {
            max-width: 500px;
        }
    
        .my-data-section {

            .label-btn {
                h2 {
                    margin: 5px 0px;
                }
                button svg {
                    width: 20px;
                    height: 20px;
    
                    stroke-width: 3px;
    
                }
            }
    
            

        }

        
        .my-data-form, .edit-mail-form, .edit-password-form {

            > div {
                flex-direction: row;
                align-items: center;

                label {
                    font-weight: normal;
                    white-space: nowrap;
                    color: $mallow-medium-clean;
                }

                input {
                    padding: 10px;
                    background-color: $mallow-medium-white-50;
                }

            }
        }



        .parameters-section {
            .parameters {
                display: flex;
                flex-direction: row;
                width: 100%;
                // max-width: 700px;
                justify-content: space-between;
                gap: 80px;
                align-items: center;

                a {
                    text-decoration: none;
                }

                ul {
                    list-style-type: none;
                    padding: 0px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }

                ul li {
                    padding: 10px 20px;
                    width: 100%;
                    border-radius: 10px;
                    border: solid 2px $mallow-medium-black;
                    white-space: nowrap;

                    color: $mallow-medium-black;
                    cursor: pointer;
                }

                ul.negative {
                    li {
                        border-color: $red-soft;
                        color: $red-soft;
                        text-align: center;
                    }

                    .full {
                        background-color: $red-soft;
                        color: $mallow-white;
                    }

                }


            }

            
        }
    }

    
}

.delete-account-popup {
    flex-direction: column;

    h4 {
        text-align: center;
    }

    .btns {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        > * {
            width: 50%;
        }

        .hide-popup-btn {
            text-decoration: underline;
        }
    }

}

.delete-project-popup {
    flex-direction: column;
    gap: 10px;
    width: 80%;

    * {
        text-align: center;
    }

    h4 {
        color: $mallow-medium;
    }

    .btns {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;

        * {
            width: fit-content;
        }
    }
}

@media (max-width : 768px) {
    
    nav {
        display: none;
    }

    body {
        background: linear-gradient(to bottom, #D8DCFF 0%, #F7F7FF 20%) !important;
    }
    
    .menu-and-details {
        max-width: 100%;
        flex-direction: column;
        align-items: center;

        .menu {
            width: 100%;

            .btns {
                flex-direction: row;
                justify-content: space-around;
                width: 100%;
                align-items: end;

                li {
                    flex-direction: column;

                    svg {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }

        .section-details {
            // max-width: 100%;

            .my-data-section, .parameters-section, .my-data-form, .edit-mail-form, .edit-password-form {
                max-width: 100%;
            }

            .section {
                .label-btn {
                    flex-direction: column;

                    button {
                    width: 100%;
                    justify-content: center;
                    }
                }

                h2 {
                    display: none;
                    text-align: center;
                    color: $mallow-medium-clean;
                }

                h3 {
                    text-align: center;
                }
            }

            .my-projects-section {
                .projects {
                    width: 100%;
                    .swipe-item {
                        position: relative;
                        background: white;
                        transition: transform 0.3s ease, margin-left 0.3s ease;
                        will-change: transform;
                    }
                    
                    .swipe-item.swiped-left {
                        transform: translateX(-50px); /* Décalage à gauche */
                    }
                    
                    // .hidden-action {
                    //     position: absolute;
                    //     right: 10px;
                    //     top: 50%;
                    //     transform: translateY(-50%);
                    //     opacity: 0;
                    //      /* évite les clics tant qu’elle est cachée */
                    // }
                    
                    
                    
                    .project {
                        position: relative;
                        

                        svg {
                            opacity: 0%;
                            position: absolute;
                            right: 10px;
                            top: 50%;
                            transform: translate(0%, -50%);
                            z-index: 0;
                            opacity: 0;
                            transition: opacity 0.3s ease;
                            pointer-events: none;
                        }

                        svg.visible {
                            opacity: 1;
                            pointer-events: auto;
                        }
                    }

                }
            }

            .parameters-section {

                .parameters {
                    flex-direction: column;
                    gap: 0px;

                    ul {
                        width: 100%;

                        li {
                            text-align: center;
                        }
                    }
                }
            }

            .edit-mail-form, .edit-password-form {
                > div {
                    flex-direction: column;

                    align-items: start;
                }
            }
        }


    }

    
}

@media (max-width : 512px) {
    
    .menu-and-details {

        .menu {

            .btns {

                li {
                    span {
                        display: none;
                    }

                    svg {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }

        .section-details {
            max-width: 100%;

            .label-btn {
                button {
                    width: 100%;
                    justify-content: center;
                }
            }

            .section {

                h2 {
                    display: block;
                }
            }
        }

        
    }

    
}