@import 'variables.scss';

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: $mallow-white;
}
.sections {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: start;
    overflow-x: auto;
    padding-top: 40px;
    gap: 20px;
    height: 100%;

    #sections-list {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .section {
        display: flex;
        flex-direction: column;
        gap: 20px;

        min-width: 300px;
        height: 100%;

        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            cursor: pointer;

            gap: 10px;
            width: 100%;
            border-radius: 10px;

            padding: 10px;

            svg {
                width: 30px;
                height: 30px;
            }

            h2 {
                margin: 0px;
            }
        }

        .tasks {
            display: flex;
            flex-direction: column;
            gap: 5px;

            border-radius: 10px;
            background-color: $mallow-medium-white-50;

            padding: 10px;
            align-items: start;

            &-list {
                display: flex;
                flex-direction: column;
                gap: 5px;
                width: 100%;
                

                .task {
                    padding: 10px;
                    border-radius: 5px;
                    cursor: pointer;
    
                    background-color: $mallow-medium-white;
                    width: 100%;
    
                }
            }

            

            .btn.outline-dotted {
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                margin-top: 10px;

                width: 100%;

                border: dotted 2px $mallow-medium;
                border-radius: 10px;

                font-weight: bold;

                color: $mallow-medium;

                svg {
                    height: 20px;
                    width: 20px;
                    color: $mallow-medium;

                    * {
                        stroke: $mallow-medium;
                        stroke-width: 1px;
                    }
                }
            }

        }

    }

    .section.todo {
        .header {
            background-color: $mallow-medium;
            
            
            * {
                color: $mallow-white;
            }

            svg * {
                stroke: $mallow-white;
                stroke-width: 0.5px;
            }
        }
    }

    .section.current .header {
        background-color: $yellow-soft;

        svg * {
            stroke: $mallow-medium;
            stroke-width: 3px;
        }
    }

    .section.done .header {
        background-color: $green-soft;

        svg * {
            stroke: $mallow-medium;
            stroke-width: 1px;
        }
    }
}

.task-popup {
    min-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 0px 10px $mallow-medium-25;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .end-task-btn {
            width: fit-content;
            gap: 10px;
        }

        .close-delete-btns {
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;

            * {
                cursor: pointer;
            }
        }

        .trash-icon {
            color: $red-soft;
        }

        .close-popup-btn {
            color: $mallow-medium-black;
            height: 22px;
            width: 22px;

            * {
                stroke: $mallow-black;
                stroke-width: 1px;
            }
        }


    }

    .title-description {
        .description {
            
        }

        .description:focus {
            outline: 2px solid $mallow-medium-50;
            // outline-width: 2px;
        }
    }

    .checklist-section {
        display: flex;
        flex-direction: column;
        // gap: 10px;

        .checklist-list {
            display: flex;
            flex-direction: column;
            // gap: 10px;

            

            .checklist {
                display: flex;
                flex-direction: row;
                gap: 5px;
                align-items: center;
                justify-content: space-between;
                padding: 5px;

                margin-left: 5px;
                cursor: pointer;

                border-radius: 10px;

                .left {
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    align-items: center;

                    span {
                        font-weight: lighter;
                        cursor: text;
                    }
                }

                svg {
                    opacity: 50%;
                    color: $mallow-medium;
                }

                
            }

            .checklist:hover, .add-checklist-input:hover {
                background-color: $mallow-medium-white-50;
            }

            .add-checklist-input {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                position: relative;
                padding: 5px;
                border-radius: 10px;
                background-color: $mallow-medium-white-50;

                .left {
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    gap: 5px;
                    align-items: center;

                    input {
                        padding: 0px;
                        border-radius: 10px;
                        background-color: transparent;
                        padding-left: 30px;
                        font-weight: lighter;
                        
                    }
                }

                input:focus {
                    // outline-color: $mallow-medium-50;
                    outline: none;
                }
    
                .radio-icon {
                    position: absolute;
                    left: 10px;
                    top: 50%;
                    transform: translate(0, -50%);
                }

                svg {
                    opacity: 50%;
                    color: $mallow-medium;
                }

            }
    
            .add-checklist-btn {
                display: flex;
                flex-direction: row;
                gap: 10px;
                padding: 0px;
                margin-left: 10px;
                margin-top: 5px;
                
                // font-weight: bold;
                align-items: center;
    
                button {
                    padding: 0px;
                    color: $mallow-medium;
                    background: none;
                    border: none;
                    font-size: 18px;
                }
    
                svg {
                    color: $mallow-medium;
                    width: 20px;
                    height: 20px;
    
                    * {
                        stroke: $mallow-medium;
                        stroke-width: 1px;
                    }
                }
    
            }
        }
        
        
    }

    svg {
        width: 25px;
        height: 25px;
    }
}