@import 'variables.scss';

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: $mallow-white;
}
.sections {
    // flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: start;
    overflow-x: auto;
    padding-top: 40px;
    gap: 20px;
    height: 100%;

    .section {
        display: flex;
        flex-direction: column;
        gap: 20px;

        min-width: 300px;
        height: 100%;

        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            padding: 10px;
            width: 100%;
            border-radius: 10px;

            

            .left {
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;

                

                h2 {
                    margin: 0px;
                    
                }
                
            }

            svg {
                width: 30px;
                height: 30px;
            }

            .trash-icon {
                color: $mallow-white;
                opacity: 75%;
            }

            user-select: none;          /* Empêche la sélection classique du texte */
            -webkit-user-select: none;  /* Safari/Chrome */
            -moz-user-select: none;     /* Firefox */
            -ms-user-select: none;      /* IE/Edge */
            
        }

        .tasks {
            display: flex;
            flex-direction: column;
            gap: 5px;

            border-radius: 10px;
            background-color: $mallow-medium-white-50;

            padding: 10px;
            align-items: start;

            &-list {
                display: flex;
                flex-direction: column;
                gap: 5px;
                width: 100%;
                

                .task {
                    padding: 10px;
                    border-radius: 5px;
                    cursor: pointer;
    
                    background-color: $mallow-medium-white;
                    width: 100%;

                    user-select: none;          /* Empêche la sélection classique du texte */
                    -webkit-user-select: none;  /* Safari/Chrome */
                    -moz-user-select: none;     /* Firefox */
                    -ms-user-select: none;      /* IE/Edge */
    
                }

                .task.done {
                    background-color: $green-soft-75;
                }
            }

            

            .btn.outline-dotted {
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                margin-top: 10px;

                width: 100%;

                border: dotted 2px $mallow-medium;
                border-radius: 10px;

                font-weight: bold;

                color: $mallow-medium;

                svg {
                    height: 20px;
                    width: 20px;
                    color: $mallow-medium;

                    * {
                        stroke: $mallow-medium;
                        stroke-width: 1px;
                    }
                }
            }

        }

    }

    .add-section {
        display: flex;
        flex-direction: column;
        background-color: $mallow-medium-white-25;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        border: dashed 2px $mallow-medium-50;
        cursor: pointer;
        // height: fit-content;
        // padding: 20px;

        * {
            text-align: center;
            color: $mallow-medium;
            opacity: 90%;
        }

        svg {
            width: 50px;
            height: 50px;
            

            * {
                stroke: $mallow-medium;
                stroke-width: 1px;
            }
        }
    }


}

.task-popup {
    min-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 0px 10px $mallow-medium-25;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .toggle-task-status-btn {
            width: fit-content;
            gap: 10px;

            span {
                color: $mallow-white;
                font-size: 18px;
            }

            svg {
                width: 28px;
                height: 28px;
                padding: 2px;
            }
        }

        .toggle-task-status-btn.done {
            background-color: unset;
            padding: 0px;

            svg {
                background-color: $green-soft;
                border-radius: 100px;
                color: $mallow-medium;
            }

            span {
                padding: 8px;
                border: solid 2px $mallow-medium;
                color: $mallow-medium;
                border-radius: 10px;
            }
        }

        .close-delete-btns {
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;

            * {
                cursor: pointer;
            }
        }

        .trash-icon {
            color: $red-soft;
        }

        // .close-popup-btn {
        //     color: $mallow-medium-black;
        //     height: 22px;
        //     width: 22px;

        //     * {
        //         stroke: $mallow-black;
        //         stroke-width: 1px;
        //     }
        // }


    }

    .title-description {
        .description {
            
        }

        .description:focus {
            outline: 2px solid $mallow-medium-50;
            // outline-width: 2px;
        }
    }

    .checklist-section {
        display: flex;
        flex-direction: column;
        // gap: 10px;

        .checklist-list {
            display: flex;
            flex-direction: column;
            // gap: 10px;

            

            .checklist {
                display: flex;
                flex-direction: row;
                gap: 5px;
                align-items: center;
                justify-content: space-between;
                padding: 5px;

                margin-left: 5px;
                cursor: pointer;

                border-radius: 10px;

                .left {
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    align-items: center;

                    span {
                        font-weight: lighter;
                        cursor: text;
                    }
                }

                svg {
                    opacity: 50%;
                    color: $mallow-medium;
                }

                
            }

            .checklist:hover, .add-checklist-input:hover {
                background-color: $mallow-medium-white-50;
            }

            .add-checklist-input {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                position: relative;
                padding: 5px;
                border-radius: 10px;
                background-color: $mallow-medium-white-50;

                .left {
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    gap: 5px;
                    align-items: center;

                    input {
                        padding: 0px;
                        border-radius: 10px;
                        background-color: transparent;
                        padding-left: 30px;
                        font-weight: lighter;
                        
                    }
                }

                input:focus {
                    // outline-color: $mallow-medium-50;
                    outline: none;
                }
    
                .radio-icon {
                    position: absolute;
                    left: 10px;
                    top: 50%;
                    transform: translate(0, -50%);
                }

                svg {
                    opacity: 50%;
                    color: $mallow-medium;
                }

            }
    
            .add-checklist-btn {
                display: flex;
                flex-direction: row;
                gap: 10px;
                padding: 0px;
                margin-left: 10px;
                margin-top: 5px;
                
                // font-weight: bold;
                align-items: center;
    
                button {
                    padding: 0px;
                    color: $mallow-medium;
                    background: none;
                    border: none;
                    font-size: 18px;
                }
    
                svg {
                    color: $mallow-medium;
                    width: 20px;
                    height: 20px;
    
                    * {
                        stroke: $mallow-medium;
                        stroke-width: 1px;
                    }
                }
    
            }
        }
        
        
    }

    svg {
        width: 25px;
        height: 25px;
    }
}

.add-section-popup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;


    .icon-section, .color-section {
        display: flex;
        flex-direction: column;
        gap: 5px;

        label {
            font-size: 18px;
            font-weight: bold;
            color: $mallow-medium-clean;
        }

        .icons, .colors {
            display: flex;
            flex-direction: row;
            gap: 10px;
            width: 100%;
            justify-content: space-between;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    .icons {

        svg {
            width: 35px;
            height: 35px;
            background-color: $mallow-medium-white-50;
            padding: 5px;
            border-radius: 5px;
            border: solid 1px $mallow-medium-50;
            cursor: pointer;

        }

        svg.selected {
            border-color: $mallow-medium;
            background-color: $mallow-medium;

            color: $mallow-white;
        }
    }

    .colors {
        .color {
            width: 30px;
            height: 30px;
            border-radius: 100px;
            border: solid 1px $mallow-black-50;
            cursor: pointer;
        }

        .color.selected {
            outline: dashed 2px $mallow-medium;
            border: none;
            
        }
    }

}

.delete-section-popup {
    flex-direction: column;
    gap: 10px;
    width: 80%;

    * {
        text-align: center;
    }

    h4 {
        color: $mallow-medium;
    }

    .btns {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;

        * {
            width: fit-content;
        }
    }
}

@media (max-width: 512px) {
    // .section {
    //     transition: transform 0.3s ease, box-shadow 0.3s ease;
    //     scale: 1;
    // }
    
    .zoom-out {
        transform: scale(0.8);
        opacity: 0.9;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        // margin-right: -10%;
        // box-shadow: 0 0 10px rgba(0,0,0,0.15);
    }

    .sections {
        scroll-snap-type: x mandatory; /* ✅ active le snap horizontal */
        // scroll-behavior: smooth;       /* animation fluide */
        // -webkit-overflow-scrolling: touch; /* iOS */
        
        .section {
            scroll-snap-align: start;
            // flex: 0 0 auto; /* rétablit ton affichage multi-sections sur desktop */
            min-width: 100%;
            transition: transform 0.3s ease, margin-right 0.3 ease;
            margin-right: 0px;
            transform-origin: top center;
            scale: unset;
            // flex: 0 0 200px;
            // margin-right: -150px;
        }

        .section.zoom-out {
            // transform: scale(0.5);
            
        }
    }
}