

$mallow-black : #2E294E;
$mallow-medium-black : #5B30B7;
$mallow-medium : #7371FC;
$mallow-white: #D8DCFF;
$red-soft : #FE5F55;
$yellow-soft : #EDF060;
$green-soft :  #C3F73A;

$poppins-title : "poppins", sans-serif;
$inter-body : "inter", sans-serif