

$mallow-black : #2E294E;
$mallow-black-50 : #2E294E50;
$mallow-medium-black : #5B30B7;
$mallow-medium-clean : #6A5FB4;
$mallow-medium : #7371FC;
$mallow-medium-50 : #7371FC50;
$mallow-medium-25 : #7371FC25;
$mallow-medium-white : #D8DCFF;
$mallow-medium-white-50 : #D8DCFF50;
$mallow-medium-white-25 : #D8DCFF25;
$mallow-white: #F7F7FF;
$transparent: #F7F7FF00;
$red-soft : #FE5F55;
$red-soft-50 : #FE5F5550;
$yellow-soft : #EDF060;
$green-soft :  #C3F73A;
$green-soft-75 :  #C3F73A75;

$poppins-title : "poppins", sans-serif;
$inter-body : "inter", sans-serif